.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  font-family: 'Courier New', Courier, monospace;
}


.vermelho {
  color: red
}

.azul {
  color: rgb(0, 68, 255)
}

.black {
  color: purple
}


.botaoAumentar {
color:rgb(0, 68, 255)
}


.botaoDiminuir {
  color:rgb(0, 68, 255)
}